.bg-color{
    background-color: #023047;
}
.social-network{
    list-style: none;
    padding: 0;
    
}
.social-network li{
    display:inline;
    margin: 0;
    padding: 15px;
 }
 .fa{
    font-size: 25pt;
    color: white;
    padding: 10px;
 }
.fa-envelope-o:hover{
    color: #67B7C2;
}
.fa-instagram:hover{
    color: #67B7C2;
}


.arc {
    width: 100%;
    height:200px;
    border-radius: 50% / 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#img-footer{

}

