<footer class="page-footer font-small bg-color pt-4 arc ">

    <div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            
            <h4 class="text-white r">Nossas redes social</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center  ">
            <ul class="social-network ">
                
               <li>
                <img src="https://illlustrations.co/static/444a9d4f69327cb6d55d977f8e308e26/ee604/129-wear-mask.png" width="100px" height="100px" class="img-fluid rounded" alt="imagem para ser trocada no futuro."> 
               </li>

    
                <li>
                    <a href="#" target="_blank" class="iconinstagram text-white"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
                </li>
                <li>
                    <a href="#" target="_blank" class="iconemail text-white"><i class="fa fa-envelope-o" aria-hidden="true"></i> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright text-center py-3">
    <span class="text-light">@2022 copyright: São José delivery</span>
</div>
</footer>