<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-dark">Atualizar produto</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">

            <div class="form-group mt-lg-3">
                <label class="mb-2" for="titulo">Nome do produto</label>
                <input [(ngModel)]="produtos.nome" type="text" class="form-control" id="nome"
                    placeholder="Digite o nome do produto">
            </div>

            <div class="form-group mt-lg-3">
                <label class="mb-2" for="titulo">Preço</label>
                <input [(ngModel)]="produtos.preco" type="text" class="form-control" id="preco"
                    placeholder="Digite o preço do produto">
            </div>

            <div class="form-group mt-lg-3">
                <label class="mb-2" for="titulo">Foto</label>
                <input [(ngModel)]="produtos.foto" type="text" class="form-control" id="foto"
                    placeholder="coloque o link da foto">
            </div>

            <div class="form-group mt-lg-3">
                <label class="mb-2" for="titulo">Descrição do produto</label>
                <textarea [(ngModel)]="produtos.descricao" name="descricao" class="form-control" id="descriao"
                    rows="2"></textarea>
            </div>

            <div class="form-group mt-lg-3 ">
                <label class="mb-2" for="Categoria" data-bs-dismiss="modal">Escolha uma categoria ou <a
                        routerLink="/categorias">
                        cadastre uma nova: </a></label>
                <select name="categoria" id="categoria" class="form-control" [(ngModel)]="idCategoria"
                    (change)='findByIdCategoria'>
                    <option *ngFor="let item of listaCategorias" value="{{item.id}}">
                        {{item.categoria}}
                    </option>
                </select>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger m-2" routerLink="/produtos">Cancelar</button>
                <button class="btn btn-success m-2" (click)="atualizar()">Atualizar</button>
                
            </div>
        </div>
    </div>
</div>
