<div class="conteainer-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.imgur.com/TRfBtic.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.imgur.com/PLh6YEy.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.imgur.com/DSmNixy.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- nav -->
<div class="container mb-5 mt-5" id="produtos">
    <nav>
        <div class="nav nav-tabs justify-content-center fontBold" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Todos os produtos</button>

            <button (click)="findByIdUser()" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                aria-selected="false">Meus produtos</button>

            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Produtos por
                categoria</button>
        </div>
    </nav>

    <div class="tab-content d-flex justify-content-center" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
            tabindex="0">

            <div class="row d-flex justify-content-center mt-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome"
                            placeholder="Digite o nome do produto que deseja encontrar." [(ngModel)]="nomeProduto"
                            (keyup)="findByNomeProduto()">
                    </div>
                </div>

            </div>
            <div class="card-group">
                <div class="row row-cols-1 row-cols-md m-lg-4 g-4 mt-4"
                    *ngFor="let item of listaProdutos | orderBy : key : reverse">
                    <div class="col">
                        <div class="card h-100 zoom-container">
                            <img [routerLink]="['/produto-view', item.id]" widith="250px" height="250px"
                                src="{{item.foto}}" class="card-img-top zoom-image" alt="">
                            <div class="card-body mt-4">
                                <h5 class="card-title text-center">{{item.nome}}</h5>
                                <hr>
                                <p class="card-text">Categoria: {{item.categoria.categoria}}</p>
                                <!-- <p class="card-text">{{item.descricao}}</p> -->
                                <p class="card-text">{{item.preco | currency: 'BRL'}}
                                    <i routerLink="/carrinho" class="bi bi-cart3 m-lg-2"></i>
                                </p>
                                <hr>
                                <small class="card-text"> by: {{item.usuario.nome}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">

            <div class="card-group ">
                <div class="row row-cols-1 row-cols-md m-lg-4 g-4 mt-4"
                    *ngFor="let item of user.produtos | orderBy : key : reverse">
                    <div class="col">
                        <div class="card h-100 ">
                            <img [routerLink]="['/produto-view', item.id]" widith="250px" height="250px"
                                src="{{item.foto}}" class="card-img-top" alt="">
                            <div class="card-body mt-4">
                                <h5 class="card-title text-center">{{item.nome}}</h5>
                                <hr>
                                <p class="card-text">Categoria: {{item.categoria.categoria}}</p>
                                <!-- <p class="card-text">{{item.descricao}}</p> -->
                                <p class="card-text">{{item.preco | currency: 'BRL'}}
                                    <i routerLink="/carrinho" class="bi bi-cart3 m-lg-2"></i>
                                </p>
                                <br>
                                <br>
                                <div class="text-center">
                                    <button [routerLink]="['/produtos-edit', item.id]"
                                        class="btn btn-outline-secondary m-1">Editar</button>
                                    <button [routerLink]="['/produtos-delete', item.id]"
                                        class="btn btn-outline-danger m-1">Deletar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

            <div class="row d-flex justify-content-center mt-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome"
                            placeholder="Digite a categoria que deseja encontrar." [(ngModel)]="nomeCategoria"
                            (keyup)="findByNomeCategoria()">
                    </div>
                </div>
                <div class="card-group" *ngFor="let categoria of listaCategorias | orderBy : key : reverse">
                    <div class="row row-cols-1 row-cols-md m-lg-4 g-4 mt-4" *ngFor="let item of categoria.produtos">
                        <div class="col d-flex justify-content-center">
                            <div class="card h-100 zoom-container">
                                <img [routerLink]="['/produto-view', item.id]" widith="250px" height="250px"
                                    src="{{item.foto}}" class="card-img-top zoom-image" alt="">
                                <div class="card-body mt-4">
                                    <h5 class="card-title text-center">{{item.nome}}</h5>
                                    <hr>
                                    <!-- <p class="card-text">{{item.descricao}}</p> -->
                                    <p class="card-text">{{item.preco | currency: 'BRL'}}
                                        <i routerLink="/carrinho" class="bi bi-cart3 m-lg-2"></i>
                                    </p>
                                    <hr>
                                    <small class="card-text"> by: {{item.usuario.nome}}</small>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- nav -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 fontBold" id="exampleModalLabel">Novo Produto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body font">
                    <div class="form-group mt-lg-3">
                        <label class="mb-2" for="titulo">Nome do produto</label>
                        <input [(ngModel)]="produtos.nome" type="text" class="form-control" id="nome"
                            placeholder="Digite o nome do produto">
                    </div>

                    <div class="form-group mt-lg-3">
                        <label class="mb-2" for="titulo">Preço</label>
                        <input [(ngModel)]="produtos.preco" type="text" class="form-control" id="preco"
                            placeholder="Digite o preço do produto">
                    </div>

                    <div class="form-group mt-lg-3">
                        <label class="mb-2" for="titulo">Foto</label>
                        <input [(ngModel)]="produtos.foto" type="text" class="form-control" id="foto"
                            placeholder="coloque o link da foto">
                    </div>

                    <div class="form-group mt-lg-3">
                        <label class="mb-2" for="titulo">Descrição do produto</label>
                        <textarea [(ngModel)]="produtos.descricao" name="descricao" class="form-control" id="descriao"
                            rows="2"></textarea>
                    </div>

                    <div class="form-group mt-lg-3 ">
                        <label class="mb-2" for="Categoria" data-bs-dismiss="modal">Escolha uma categoria ou <a
                                routerLink="/categorias">
                                cadastre uma nova: </a></label>
                        <select name="categoria" id="categoria" class="form-control" [(ngModel)]="idCategoria"
                            (change)='findByIdCategoria'>
                            <option *ngFor="let item of listaCategorias" value="{{item.id}}">
                                {{item.categoria}}
                            </option>
                        </select>
                    </div>


                </div>
                <div class="modal-footer mt-lg-3 font">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" (click)="publicar()">Registar
                        novo
                        produto</button>
                </div>
            </div>
        </div>
    </div>