<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            
            <h1 class="text-center text-dark fontBold">Apagar Categoria</h1>
            <div class="text-center">
                <img  widith="450px" height="450px"src="https://i.imgur.com/FLDKoMD.gif" alt="">
            </div>
            <h4 class="font" >Você tem certeza que deseja apagar essa categoria? todos os produtos relacionados a ela serão 
                igualmente apagados.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class='text-center text-secondary'>Categoria: {{categoria.categoria}}</h5>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12 d-flex justify-content-center font">
            <button class="btn btn-danger m-1" routerLink="/categorias">Não</button>
            <button class="btn btn-success m-1" (click)="apagar()">Sim</button>
        </div>
    </div>
</div>