<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-brand" src="https://i.imgur.com/X1Wvbro.png" alt="imagem para trocar" width="150px" height="150px"  class="img-fluid rounded circle">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-16" aria-current="page" href="#">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">PERFIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">FICHAS TECNICAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">LOJAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">SEU CARRINHO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">SOBRE NÓS</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto d-flex align-items-end">
        <li class="nav-item m-lg-4">
          <a (click)="sair()" class="mr-5 text-dark fs-16">SAIR <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
        
      
    </div>
  </div>
</nav>
<hr class="mr-5 ml-5 mb-3">













