.fs-16{
    font-size: 16pt;

}
a{
    cursor: pointer;
}
.btn-azul{
    background-color: #017493;
}

.active{
    color: #017493;
}
    
.link-menu:hover{
    color: #017493;
    font-weight: bold;
}
.navbar-nav .active > .nav-link {
    color: #017493;
    font-weight: bold;
}


