<nav class="navbar navbar-expand-lg navbar-light bg-transparent ">
    <img src="https://illlustrations.co/static/444a9d4f69327cb6d55d977f8e308e26/ee604/129-wear-mask.png" alt="imagem para trocar" width="50px" height="50px" class="img-fluid rounded circle">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link fs-16" href="#">INÍCIO <span class="sr-only">(página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-16" href="#">LOJAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fs-16" href="#">RECEITAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-16" href="#">RECEITAS</a>
          </li>
        <li class="nav-item dropdown fs-16">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SOBRE NÓS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">O que é o Projeto</a>
            <a class="dropdown-item" href="#">Nossos contatos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a> 
          </div>
        </li>
      </ul>
    </div>
  </nav>