<div>
    <h2>Seu Carrinho de Compras</h2>
  
    <div *ngIf="carrinho.length === 0">
      <p>O carrinho está vazio.</p>
    </div>
  
    <div *ngIf="carrinho.length > 0">
      <table>
        <thead>
          <tr>
            <th>Nome do Produto</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of carrinho">
            <td> <img src="{{produto.foto}}" alt=""> </td>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td>
              <button (click)="removerDoCarrinho(produto)">Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <button (click)="limparCarrinho()">Limpar Carrinho</button>
    </div>
  </div>
  