<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <div class="raw d-flex justify-content-center">
                <div class="col-md-7">
                    <div class="text-center">
                        <img src="https://i.imgur.com/OBv99FM.png" alt="">
                    </div>
                    <h1 class=" text-center mb-3 fontBold">CADASTRO</h1>
                    <hr>
                    <div class="row">
                        <div class="form-floating mb-4 col-md-6">
                            <input [(ngModel)]="user.nome" class="form-control" id="floatingInput" type="text"
                                name="Nome" placeholder="Digite seu nome">
                            <label class="lb" for="usuario floatingInput">Nome*</label>
                        </div>

                        <div class="form-floating mb-4 col-md-6">
                            <input [(ngModel)]="user.sobrenome" class="form-control" id="floatingInput" type="text"
                                name="sobrenome" placeholder="Digite seu sobrenome">
                            <label class="lb" for="usuario floatingInput">Sobrenome*</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-floating mb-4 col-md-6">
                            <input [(ngModel)]="user.cpf" class="form-control" id="floatingInput" type="text" name="cpf"
                                placeholder="Digite seu cpf">
                            <label class="lb" for="cpf floatingInput">Digite seu CPF*</label>
                        </div>

                        <div class="form-floating mb-4 col-md-6">
                            <input [(ngModel)]="user.telefone" class="form-control" id="floatingInput" type="text"
                                name="telefone" placeholder="Digite seu telefone">
                            <label class="lb" for="telefone floatingInput">Telefone*</label>
                        </div>
                    </div>
                    <div class="form-floating mb-4 ">
                        <input [(ngModel)]="user.usuario" class="form-control" id="floatingInput" type="text"
                            name="usuario" placeholder="Digite seu email">
                        <label for="email floatingInput">Email*</label>

                        <div class="row mt-4">
                            <div class="form-floating mb-3 col-md-6">
                                <input (input)="confirmSenha($event)" class="form-control" id="floatingInput"
                                    type="password" name="senha" id="senha" placeholder="Digite sua senha">
                                <label class="lb" for="senha">Senha*</label>
                                <p>Sua senha deve ter no minimo 8 caracteres!</p>
                            </div>
                            <div class="form-floating mb-4 col-md-6">
                                <input [(ngModel)]="user.senha" class="form-control" id="floatingInput" type="password"
                                    name="confirmsenha" id="confirmsenha" placeholder="Digite sua senha">
                                <label class="lb" for="senha floatingInput">Confirma senha*</label>
                            </div>
                        </div>


                        <div class="form-floating mb-4">
                            <input [(ngModel)]="user.foto" class="form-control" id="floatingInput" type="text"
                                name="foto" placeholder="Adicione o link da sua foto">
                            <label for="usuario floatingInput">Link da foto</label>
                        </div>

                        <div class="form-grup form-floating">
                            <select [(ngModel)]="user.tipo" class="form-control bd form-select" name="tipo" id="tipo floatingSelect"
                                (change)='tipoUser($event)'>
                                <option class="selected" >Selecione um tipo de usuário</option>
                                <option value="normal">Normal</option>
                                <option value="adm">Loja</option>
                            </select>
                            <label for="tipo floatingSelect">Tipo de Usuário</label>
                        </div>

                        <div class="text-center mt-5 mb-5">
                            <h2>ENDEREÇO</h2>
                            <hr>
                        </div>

                        <div class="row">
                            <div class="form-floating mb-4 col-md-6">
                                <input [(ngModel)]="user.cep" class="form-control " id="floatingInput" type="cep"
                                    name="cep" placeholder="Digite seu cep">
                                <label class="lb" for="cep floatingInput"> CEP*</label>
                            </div>
                            <div class="form-floating mb-4 col-md-6">
                                <input [(ngModel)]="user.pais" class="form-control " id="floatingInput" type="pais"
                                    name="pais" placeholder="Pais">
                                <label class="lb" for="pais floatingInput"> Pais*</label>
                            </div>
                        </div>

                        <div class="form-floating mb-4">
                            <input [(ngModel)]="user.estado" class="form-control" id="floatingInput" type="uf" name="uf"
                                placeholder="Digite seu uf">
                            <label for="estado floatingInput">UF*</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input [(ngModel)]="user.cidade" class="form-control" id="floatingInput" type="cidade"
                                name="cidade" placeholder="Digite sua cidade">
                            <label for="cidade floatingInput">Cidade*</label>
                        </div>


                        <div class="form-floating mb-4">
                            <input [(ngModel)]="user.bairro" class="form-control" id="floatingInput" type="bairro"
                                name="bairro" placeholder="bairro">
                            <label for="bairro floatingInput">Bairro*</label>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-4 col-md-6">
                                <input [(ngModel)]="user.rua" class="form-control" id="floatingInput" type="rua"
                                    name="rua" placeholder="Digite sua rua">
                                <label class="lb" for="rua floatingInput"> Rua*</label>
                            </div>
                            <div class="form-floating mb-4 col-md-6">
                                <input [(ngModel)]="user.numero" class="form-control" id="floatingInput" type="numero"
                                    name="numero" placeholder="Digite seu numero">
                                <label class="lb" for="numero floatingInput"> Numero*</label>
                            </div>
                        </div>

                        <div class="form-floating mb-4">
                            <input [(ngModel)]="user.complemento" class="form-control" id="floatingInput"
                                type="complemento" name="complemento" placeholder="complemento">
                            <label for="complemento floatingInput">Complemento</label>
                        </div>

                        <div class="d-flex justify-content-center mt-5 font ">

                            <button type="submit" class="btn myButtonCancel button-4"
                                routerLink="/entrar">Cancelar</button>

                            <button type="submit" class="btn myButton" (click)="cadastrar()">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>