#img-bg{
    background-image: url('https://i.imgur.com/cxuubg1.gif');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.myButton {
	background-color:#208694;
	border-radius:28px;
	border:1px solid #14555e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:8px 21px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#67B7C2;
}
.myButton:active {
	position:relative;
	top:1px;
}


