@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}

.font{
    font-family: 'Exo', sans-serif;
}
.fontBold{
    font-family: 'Exo', sans-serif;
    font-weight: 600;
}
