<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <div class="raw d-flex justify-content-center">
                <div class="col-md-10">
                    <h1>NOSSA FERRAMENTA</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque animi possimus pariatur
                        repudiandae, nulla, doloribus blanditiis repellendus, tempora vero natus at laborum deleniti?
                        Iusto unde facere saepe ipsam eum beatae totam sapiente accusantium aliquam aperiam excepturi,
                        natus nulla quam, laboriosam ratione repudiandae quidem dignissimos maiores quo officiis sit cum
                        harum eius! Impedit accusamus pariatur numquam nulla soluta velit totam excepturi, deserunt
                        perspiciatis aperiam autem culpa nam et accusantium harum aliquid delectus aut tempore nesciunt.
                        Nemo, a tempore non debitis aperiam perspiciatis dolorem quod nisi quis magnam, asperiores
                        doloribus, animi impedit odit nihil? Molestias veritatis impedit expedita culpa unde cumque
                        ipsam, doloremque enim perferendis temporibus, veniam vel quia natus ex porro velit. Hic ullam
                        facilis ducimus, ipsum quia amet quo harum illo iusto iste qui vero magni saepe mollitia
                        delectus consequuntur iure ea esse ipsa repellendus.
                    </p>
                </div>
            </div>
        </div>
        <div class=" col-md-6" id=bg> </div>
    </div>
</div>
<hr class="mr-5 ml-5 mb-3">

<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-5" id="bg2"></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h1 id="fs-30 text-center mt-5">NOSSA RELAÇÃO COM OS USUARIOS</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eius laudantium est debitis
                        nemo vero voluptates adipisci quia inventore natus et sunt ex, odit incidunt, repellat ipsam!
                        Rem ad consequuntur vel quidem ipsa, repellat reprehenderit ratione, ipsum facilis atque,
                        delectus nihil minus ipsam cupiditate expedita inventore impedit cumque perferendis quod quas
                        debitis perspiciatis ullam vitae possimus? Earum facere distinctio aut nemo recusandae impedit
                        inventore aperiam necessitatibus pariatur dicta, repudiandae quos sapiente accusamus nulla
                        consectetur corporis iusto, suscipit totam ipsum reiciendis eos! Atque error in dolorum neque
                        dolorem unde hic cupiditate, quis aut ea repellendus! Hic itaque ullam deserunt error. Autem
                        nemo distinctio omnis voluptatibus unde obcaecati voluptatem molestiae odit expedita veritatis
                        culpa, necessitatibus cumque. Expedita hic ad voluptatum eveniet? Alias ratione nihil maiores,
                        illo, veniam nam excepturi reiciendis non dolorum illum, ipsum facere eius ea! Nemo,
                        voluptatibus alias incidunt adipisci optio expedita.</p>

                </div>
            </div>
        </div>
        <hr class="mr-5 ml-5 mb-3">