<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mt-5 mb-5">
            <div class="raw d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="fontBold">NOSSA FERRAMENTA</h1>
                    <br>
                    <p class="font">Uma plataforma para conectar pessoas, empreendedores e vendedores, ao universo da internet,  criando a oportunidade de aperfeiçoar, expor e vender sua linha de serviços e produtos. Com uma participação direta nessa tecnologia, que busca auxiliar na realização de ações para melhoria dos produtos e serviços dentro de um padrão de apresentação, gestão, precificação e vendas.
                    Assim sendo contribuindo para uma melhor visualização que atenda ao mercado consumidor.  
                        <br>
                    Visando o ODS 8, que defende o trabalho decente e crescimento econômico, buscamos apoiar as atividades produtivas, o empreendedorismo e incentivar a formalização e o crescimento das micro, pequenas e médias empresas criando assim o UPV - Use, Precifique e Venda.
                    </p>
                </div>
            </div>
        </div>
        <div class=" col-md-6" id=bg> </div>
    </div>
</div>
<hr class="mr-5 ml-5 mb-3">

<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-5" id="bg2"></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 mt-5">
                    <h1 id="fs-30 text-center mt-5 fontBold">NOSSA RELAÇÃO COM OS USUARIOS</h1>
                    <br>
                    <p class="font">A nossa plataforma conta um sistema de acessibilidade voltado aos pequenos empreendedores que não estão introduzidos no mercado digital, e que tem problema em precificar seus produtos. para ajudar esses usuários teremos uma área do site somente para a criação de fichas técnicas. <br>
                        A plataforma contará com um marketplace onde poderão postar seus produtos e por meio de um chat conversar diretamente com os seus clientes a respeito da encomenda e podem fazer suas transações de forma 100% segura. <br>
                        Pensando nos empreendedores com baixo grau de escolaridade, 
                        o UPV será desenvolvido usando API’s que visam facilitar seu acesso. Como por exemplo a transcrição da fala para aqueles que têm dificuldade com a digitação e um leitor de texto que irá reproduzi-los em áudio para os que não conseguem ou têm dificuldade de leitura.
                        </p>

                </div>
            </div>
        </div>
        <hr class="mr-5 ml-5 mb-3">

        <div class="container col-md-12 m-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <h1 class="mt-3 mb-3 fontBold">A Equipe</h1>

                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.imgur.com/FvtxhX6.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fontBold">Nataly Carvalho</h5>
                                    <p class="card-text font">Estudante de desenvolvimento de sistemas</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/Nataly-Carvalho" target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png"
                                            alt="logo github">
                                    </a>

                                    <a href="https://www.linkedin.com/in/nataly-carvalho-6767bb222/" target="_blank"
                                        class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                                            alt="logo linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.imgur.com/NLBvcML.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fontBold">Isabelly Souza</h5>
                                    <p class="card-text font">Estudante de desenvolvimento de sistemas</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/issasouza" target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png"
                                            alt="logo github">
                                    </a>

                                    <a href="https://www.linkedin.com/in/isabelly-souza-a6a5ba241/" target="_blank"
                                        class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                                            alt="logo linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.imgur.com/u3fyTfi.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fontBold">Caio Daniel</h5>
                                    <p class="card-text font">Estudante de desenvolvimento de sistemas</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/CaioDanieel" target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png"
                                            alt="logo github">
                                    </a>

                                    <a href="https://www.linkedin.com/in/caio-daniel-vitor-da-silva-melo-85a868231/"
                                        target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                                            alt="logo linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.imgur.com/DxtyTkd.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fontBold">Israel Melo</h5>
                                    <p class="card-text font">Estudante de desenvolvimento de sistemas</p>
                                </div>
                                <div class="card-footer">
                                    <a href="https://github.com/Israel-msilva" target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png"
                                            alt="logo github">
                                    </a>

                                    <a href="https://www.linkedin.com/in/israel-melo-da-silva-a7343114b/" target="_blank"
                                        class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                                            alt="logo linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="https://i.imgur.com/t8EtqJS.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title fontBold">Sergio Bezerra</h5>
                                    <p class="card-text font">Estudante de desenvolvimento de sistemas</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" target="_blank" class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3291/3291695.png"
                                            alt="logo github">
                                    </a>
                                    <a href="#" target="_blank"
                                        class="p-3">
                                        <img class="tm-social"
                                            src="https://cdn-icons-png.flaticon.com/512/3536/3536505.png"
                                            alt="logo linkedin">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <hr class="mr-5 ml-5 mb-3">


        <div id="contato">
            <section class="mt-5 mb-5">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h3 class="text-center fontBold">
                                Entre em contato conosco!
                            </h3>
                        </div>
                    </div>

                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <form >
                                <div class="form-floating">
                                    <div class="form-floating mb-3">
                                        <input name="nome" type="Nome" class="form-control" id="floatingInput"
                                            placeholder="Digite seu nome">
                                        <label for="floatingInput">Nome</label>
                                    </div>
                                </div>

                                <div class="form-floating">
                                    <input nome="email" type="email" class="form-control" id="floatingPassword" placeholder="Email">
                                    <label for="floatingemail">Email</label>
                                    <br>
                                </div>

                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Deixe o seu comentario"
                                        id="floatingTextarea2" style="height: 100px"></textarea>
                                    <label for="floatingTextarea2">Comentarios</label>
                                </div>
                                <br>
                                <div class="form-group d-flex justify-content-center">
                                    <button class="btn btn-outline-success">Enviar</button>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.486581279924!2d-34.88239564983963!3d-8.051745982631568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab187db07a840d%3A0xd02075371cbf769f!2sEscola%20T%C3%A9cnica%20Estadual%20Gin%C3%A1sio%20Pernambucano!5e0!3m2!1spt-BR!2sbr!4v1667934623355!5m2!1spt-BR!2sbr"
                                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>

                        <div class="col-md-6">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.486581279924!2d-34.88239564983963!3d-8.051745982631568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab187db07a840d%3A0xd02075371cbf769f!2sEscola%20T%C3%A9cnica%20Estadual%20Gin%C3%A1sio%20Pernambucano!5e0!3m2!1spt-BR!2sbr!4v1667934623355!5m2!1spt-BR!2sbr"
                                width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                   
