<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner mb-4 mt-0">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/nL8PPbz.png" width="100%" height="100%" alt="">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h2 class="text-light title2 fontBold">Bateu a Fome?</h2>
                        <h3 class="text-light fontBold">Venha ver nossos produtos</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/O9L9VfJ.jpeg" width="100%" height="100%" alt="">

                <div class="container">
                    <div class="carousel-caption">
                        <h2 class="text-light title2 fontBold">Ficha tecnica</h2>
                        <h3 class="fontBold">Quer começar a vender mais não sabe como começar?</h3>
                        <p class="font"><a class="btn btn-lg btn-primary" href="#">Saiba mais</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/Oy6PdKA.jpeg" width="100%" height="100%" alt="">

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h2 class="text-light title2 fontBold">Venha conhecer nossas lojas</h2>
                        <h3 class="fontBold">Venha conhecer as lojas Parceiras</h3>

                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing">

        <h5 class="mb-3 mt-3 fontBold">Lojas visitadas Recentemente:</h5>
        <div class="row">
            <div class="col-lg-4">

                <picture>
                    <img src="https://i.imgur.com/VGSmIAe.png" alt="" class="bd-placeholder-img rounded-circle"
                        width="140" height="140">

                </picture>

                <h2 class="fontBold">Marcelo doces</h2>
                <p class="font">Tenho uma loja de doces tradicionais Pernambucano desde bolo de rolo a bolo souza leão , venha ver
                    meus produtos.
                </p>
                <p class="font"><a class="btn btn-secondary" href="#">Veja os detalhes &raquo;</a></p>
            </div>
            <div class="col-lg-4">

                <picture>
                    <img src="https://i.imgur.com/kL36Wsr.png" alt="" class="bd-placeholder-img rounded-circle"
                        width="140" height="140">

                </picture>

                <h2 class="fontBlod">Ana Bombom</h2>
                <p class="font">Vendo doces de casamento e aniversário com especialidade em doces de chocolate. venha conhecer minha
                    loja.</p>
                <p class="font"><a class="btn btn-secondary" href="#">Veja os detalhes &raquo;</a></p>
            </div>
            <div class="col-lg-4">

                <picture>
                    <img src="https://i.imgur.com/oAUFMNu.png" alt="" class="bd-placeholder-img rounded-circle"
                        width="140" height="140">

                </picture>

                <h2 class="fontBlod">Maria cakes</h2>
                <p class="font">Olá Tenho uma loja de bolos de todos os tamanhos e sabores que você imaginar por que você não vem dar
                    uma olhada nas minhas criações.</p>
                <p class="font"><a class="btn btn-secondary" href="#">Veja os detalhes &raquo;</a></p>
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fontBold">Está com fome? <span class="text-muted fontBold">Fui atrás da felicidade e voltei
                        com uma caixa de brigadeiros
                    </span></h2>
                <p class="lead font">Nas nossas lojas você irá encontrar os mais variados sabores.
                    Temos desde de bolo de rolo até doces de festa para alegrar seu dia, apenas a um app de distância.
                </p>
            </div>
            <div class="col-md-5">
                <picture>
                    <img src="https://i.imgur.com/dwasKrB.png" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
                        height="100%">

                </picture>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fontBold">PARE AGORA,<span class="text-muted fontBold"> Isso mesmo!
                    </span></h2>
                <p class="lead font">Não deixe para amanhã a comida que você pode comer hoje venha conhecer nossa plataforma,
                    aqui você vai encontrar os melhores preços e doces de Pernambuco.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <picture>
                    <img src="https://i.imgur.com/yRfzBwF.png" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
                        height="100%">

                </picture>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette mb-4">
            <div class="col-md-7">
                <h2 class="featurette-heading fontBold">A vida é curta, <span class="text-muted fontBold"> coma a sobremesa primeiro!
                    </span></h2>
                <p class="lead font">Aqui temos os melhores preços e se você quer vender aqui te damos suporte desde a
                    produção do seu produto até a entrega de um jeito descomplicado que tal começar pela ficha técnica?
                </p>
                <button class="btn btn-outline-info">Ficha tecnica</button>
            </div>
            <div class="col-md-5">

                <picture>
                    <img src="https://i.imgur.com/CzUOFUJ.png" alt=""
                        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%"
                        height="100%">

                </picture>

            </div>
        </div>


    </div>
</main>